@attribute [Stories("Data Display/List")]

<Stories TComponent="IgbList">

    <Story Name="Default">
        <Template>
            <IgbList @attributes="context.Args">
                <IgbListHeader>Contacts</IgbListHeader>
                <IgbListItem>
                    <IgbAvatar slot="start" src="https://dl.infragistics.com/x/img/avatars/8.jpg" Shape="@AvatarShape.Circle" />
                    <span slot="title">Terrance Orta</span>
                    <span slot="subtitle">770-504-2217</span>
                    <IgbButton slot="end" Variant="@ButtonVariant.Outlined">Text</IgbButton>
                    <IgbButton slot="end" Variant="@ButtonVariant.Outlined">Call</IgbButton>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" src="https://dl.infragistics.com/x/img/avatars/17.jpg" Shape="@AvatarShape.Circle" />
                    <span slot="title">Richard Mahoney</span>
                    <span slot="subtitle">423-676-2869</span>
                    <IgbButton slot="end" Variant="@ButtonVariant.Outlined">Text</IgbButton>
                    <IgbButton slot="end" Variant="@ButtonVariant.Outlined">Call</IgbButton>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" src="https://dl.infragistics.com/x/img/avatars/9.jpg" Shape="@AvatarShape.Circle" />
                    <span slot="title">Donna Price</span>
                    <span slot="subtitle">859-496-2817</span>
                    <IgbButton slot="end" Variant="@ButtonVariant.Outlined">Text</IgbButton>
                    <IgbButton slot="end" Variant="@ButtonVariant.Outlined">Call</IgbButton>
                </IgbListItem>
            </IgbList>
        </Template>
    </Story>

</Stories>
